@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

:root{
    --fonte1:'Roboto';
}

header{
    background-color: black;
    color: white;
    text-align: center;
}
header h1{
    font-family: var(--fonte1);
    padding-top: 5%;
    font-size: 50px;
}


body{
    background-color: aquamarine;
}

section{
    padding: 5%;
    line-height: 2em;
}


.normal{
    background-color: white;
}

.imagem{
    background-color: (51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.527);
    background-size:cover ;
    background-attachment: fixed ;
}
.imagem p{
    font-display: inline-block;
    padding: 30%;
    background-color: rgba(0, 0,0,0.514);
    text-shadow: 1px 1px 1px black;
}
section#img01{
    background-image: url(background001.jpg);
    background-position: right center;
}